<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.zmy.ssm"/>
    </typeAliases>
    <plugins>
        <!--        设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            设置分页合理化不能小于1，不能大于最大页数-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>


</configuration>